@import '../../styles/colors.scss';
@import '../../styles/shadows.scss';

.panel {
  @include shadow-2dp();
  background-color: white;
  border-radius: 2px;

  app-toolbar {
    border-bottom: 1px solid $gray;
  }
}
