<div class="panel">
  <app-toolbar>
    <iron-icon icon="accessibility"></iron-icon>
    Who are we?
  </app-toolbar>
  <div padding>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus pulvinar tellus. Etiam non arcu in neque
      sodales ultrices. Quisque feugiat dapibus ligula, ut viverra nulla rutrum quis. Donec vel massa dui.
      Sed quis tempus ligula, non ultricies felis. Aenean congue nec nisi in scelerisque. Etiam tristique facilisis
      nibh, ut facilisis sapien bibendum pulvinar. Ut at dui eget dui lacinia gravida eu at sapien. Fusce ornare
      laoreet molestie. Nulla porttitor ante orci, ut convallis ligula condimentum et. Donec mattis tempor erat ac
      viverra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>

    <p>
      Ut sit amet accumsan mi. Pellentesque placerat leo elit. Vivamus faucibus efficitur euismod. Orci varius natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla sit amet urna mollis, convallis lectus
      vel, feugiat est. In hac habitasse platea dictumst. Praesent vel pulvinar enim, et aliquam quam. Nulla aliquam,
      enim ac pretium tempor, nunc ex ultricies dui, non elementum nisi urna vitae purus. Maecenas semper tellus eget
      sodales varius. Donec maximus orci et neque tempor faucibus. Praesent libero magna, rhoncus condimentum mi a,
      ornare luctus sapien. Sed iaculis pellentesque purus, sit amet porta metus auctor ut. Phasellus augue nulla,
      molestie non sagittis a, imperdiet ut orci. Cras urna nisi, imperdiet dapibus enim ac, euismod lobortis velit.
      Nulla non dui dictum, luctus tortor vel, porta nisi.
    </p>
  </div>
</div>

<div class="layout horizontal">
  <div>one</div>
  <div>two (flex)</div>
  <div>three</div>
</div>
