@import '../assets/styles/colors.scss';
@import '../assets/styles/dimens.scss';
@import '../assets/styles/shadows.scss';

paper-drawer-panel {
  font-family: 'Roboto', 'Noto', sans-serif;

  & paper-header-panel {
    &[drawer] {
      border-right: 1px solid $gray;

      paper-toolbar {
        color: black;
        background-color: white;
      }

      & nav {
        & paper-item {
          text-transform: capitalize;

          &.active {
            background-color: #EEEEEE;
          }
        }
      }
    }

    &[main] {
      background-color: $bgApp;

      & paper-toolbar {
        text-transform: capitalize;
      }

      & main {
        max-width: $appMaxWidth;
        margin: 0 auto;
      }
    }
  }
}
